$theme-colors: (
    "primary": #CB997E,
    "secondary": #6B705C,
    "light": #FFF5ED,
    );

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    color: #4A4E3E;
}


.chart {
    padding: 10px;
    max-width: 900px;

}

.dropdown-scroll {
    max-height: 280px;
    overflow-y: auto;
}